<section class="first">
    <div class="title">
        <h1>Universities</h1>
    </div>
</section>
<div class="line"></div>
<!-- <section class="second">
    <div class="layout">
        <header>Header</header>
        <nav>Sidebar</nav>
        <main>Main</main>
        <article class="widget">Widget</article>
        <article class="statics">Statics</article>
        <footer>Footer</footer>
    </div>
</section>
<div class="line"></div>
<section></section> -->
<section class="container">
    <div class="header">
        <h5>News</h5>
    </div>
    <ul>
        <li class="univ">
            <div>
                <img src="../../assets/images/image1.jpeg" alt="">
                <div>
                    <div>Harvard</div>
                    <small>United States</small>
                </div>
            </div>
            <span>ranking</span>
            <span>details</span>
        </li>
        <li class="univ">
            <div>
                <img src="../../assets/images/image1.jpeg" alt="">
                <div>
                    <div>Princetones</div>
                    <small>United States</small>
                </div>
            </div>
            <span>ranking</span>
            <span>details</span>
        </li>
    </ul>
</section>