<!---Log-in-->
<section class="info1">
    <div class="title">
        <h1>About Us</h1>
    </div>
    <div>
        <p>The Academic Ranking of Arab Universities is an annual publication that evaluates and
            ranks higher education institutions within the Arab region. It considers various 
            factors such as research output, quality of faculty, international collaboration, 
            and student satisfaction to provide a comprehensive overview of the performance and 
            excellence of Arab universities. This ranking helps to identify top-performing 
            institutions and encourages healthy competition among them, ultimately contributing 
            to the development of the Arab educational landscape.
        </p>
        <p>Nullam ultrices placerat mi ac tincidunt. Suspendisse eget magna arcu. Donec ut 
            nibh dictum, viverra neque sit amet, imperdiet odio. Morbi ac egestas odio. Vivamus 
            mattis, orci eget molestie auctor, lectus orci hendrerit erat, ac sodales sapien metus 
            non nisi. Nulla egestas porttitor diam, ac ornare ligula suscipit et. Curabitur accumsan
            est quis laoreet sagittis. Morbi a arcu urna. Maecenas eu venenatis felis. Donec sit amet
            turpis id ipsum mattis malesuada nec nec sem. Curabitur gravida vestibulum mi ac 
            pulvinar. Aenean sit amet aliquet tortor.
        </p>
        <p>Sed vitae tellus quis risus fermentum varius. Duis vel egestas sem, in sodales ligula. 
            Curabitur mauris velit, aliquet eget justo non, semper condimentum nisi. Etiam scelerisque
            lorem est, accumsan porta mauris tincidunt ac. In pharetra ligula eget dui sollicitudin 
            tristique. Sed et libero in ex facilisis pharetra ut quis eros. Duis semper, ante 
            pellentesque scelerisque dictum, lectus tellus porta leo, quis pharetra purus justo posuere 
            enim. Aliquam eget pulvinar nisl, at tristique tellus. In elementum eros sed nulla tincidunt 
            suscipit.
        </p>
    </div>
</section>
<div class="line"></div>