.line {
    border-top: 1px solid gray;
    opacity: .3;
}

.info1 {
    font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    padding: 0 8.4rem;
    background: rgb(199, 199, 199);
    background: linear-gradient(0deg, rgba(199, 199, 199, 1) 7%, rgba(255, 255, 255, 0.7679446778711485) 82%);
    height: 200px;
    
    display: flex;
    align-items: center;
}

.info1 h1 {
    font-size: 3rem;
    color: #f9532d;
}

/* .title {
    padding-bottom: 5%;
    width: 100%;
}
 */

/*Mission*/
.info2{
    font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    padding: 0 8.4rem;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: default;
}

.img-sec{
    padding-left: 10%;
    align-self: center;
}

.img-w {
    width: 100%;
    border-radius: 20%;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}

.main h1 {
    font-size: 2rem;
    font-weight: 600;
}

.main p {
    line-height: 1.5;
    font-size: 1.15rem;
}

.images {
    margin-block: 15%;
    width: 80%;
    margin-right: auto;
    position: relative;
    z-index: -1;
}

.detail {
    text-align: center;
}


@media screen and (max-width: 1024px) {
    .info1 {
        padding: 0 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .info1 {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {}