<!---Log-in-->
<section dir="auto" class="info1">
    <div class="title">
        <h1 >{{'about_title' | translate}}</h1>
    </div>
</section>
<section class="info2">
    <div dir="auto" class="main">
        <div class="info_desc" style="text-align: center;">
            <h1></h1>
            <p>At TOP Arab Researchers Ranking, we are driven by a singular vision: to celebrate and advance the frontiers of academic excellence in the Arab world. Our mission is to offer a comprehensive and dynamic ranking platform that not only showcases but also nurtures the intellectual contributions of Arab scholars.</p>
            <p>Inspired Educational Services (IES) in collaboration with Elsevier – a global leader in research publishing and information analytics – worked extensively with the research community to ensure a better understanding of the research culture in the Arab world and how rankings could be contextualized to reflect this culture.</p>
        </div>
    </div>
</section>

<section class="info2 info3">
    <div dir="auto" class="main">
        <img src="../../assets/images/vission.jpeg" alt="" class="img-w sec">
        <div class="detail sec">
            <h1>{{'about_mission_title' | translate}}</h1>
            <p>{{'about_mission_parag' | translate}}
            </p>
        </div>
    </div>
</section>
<!-- <div class="line"></div> -->
<section class="info2">
    <div dir="auto" class="main">
        <div class="detail sec">
            <h1>{{'about_vission_title' | translate}}</h1>
            <p>{{'about_vission_parag' | translate}}
            </p>
        </div>
        <!-- <div class="img-sec">
            <div class="images"> -->
        <img src="../../assets/images/image1.jpeg" alt="" class="img-w sec">
        <!--     </div>
        </div> -->
    </div>
</section>
<!-- <div class="line"></div> -->
<section class="info2 info5">
    <div dir="auto" class="main">
        <!-- <div class="img-sec">
            <div class="images"> -->
        <img src="../../assets/images/strategy.jpeg" alt="" class="img-w sec">
        <!--     </div>
        </div> -->
        <div class="detail sec">
            <h1>{{'about_strategy_title' | translate}}</h1>
            <p>{{'about_strategy_parag' | translate}}</p>
            <p>{{'about_strategy_parag2' | translate}}</p>
        </div>
    </div>
</section>
<section class="line2">
    <div class="line"></div>
</section>