.line {
    border-top: 1px solid gray;
    opacity: .3;
    margin-block: 10px;
    background: #e0e0e0;
}

.line2 {
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
}


.info1 {
    font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    padding: 0 8.4rem;
    padding-top: 20px;    
    align-content: center;
}


.info1{
    background-image: linear-gradient(
      to bottom,
      hsl(0, 0%, 88%) 0%,
      hsl(0, 0%, 88.15%) 14.9%,
      hsl(0, 0%, 88.58%) 27.3%,
      hsl(0, 0%, 89.25%) 37.5%,
      hsl(0, 0%, 90.1%) 45.8%,
      hsl(0, 0%, 91.11%) 52.6%,
      hsl(0, 0%, 92.22%) 58.1%,
      hsl(0, 0%, 93.4%) 62.6%,
      hsl(0, 0%, 94.6%) 66.5%,
      hsl(0, 0%, 95.78%) 70%,
      hsl(0, 0%, 96.89%) 73.4%,
      hsl(0, 0%, 97.9%) 77.1%,
      hsl(0, 0%, 98.75%) 81.2%,
      hsl(0, 0%, 99.42%) 86.3%,
      hsl(0, 0%, 99.85%) 92.4%,
      hsl(0, 0%, 100%) 100%
    );
}

.info1 h1 {
    font-size: 3rem;
    color: #f9532d;
}

/*Mission*/
.info2{
    font-family: 'Outfit', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    padding: 1rem 8.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: default;
    background-color: white;
    background: linear-gradient(0deg, #e0e0e0 3%, white 15%);
    padding-bottom: 100px;
    height: 80%;

}

.info3{
    background: linear-gradient(0deg, white 3%, #e0e0e0 15%);
}
.info5{
    background: #e0e0e0;
}

.info4{
    background: white;
}

.img-sec{
    align-self: center;
}

.img-w {
    width: 50vh;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.main h1 {
    font-size: 2rem;
    font-weight: 600;
}

.main p {
    line-height: 1.5;
    font-size: 1.3rem;
}

.detail {
    text-align: center;
}

.sec{
    padding: 5%;
    border-radius: 30%;
}

@media screen and (max-width: 1024px) {
    .info1 {
        padding: 0 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .info1 {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {
    
    .img-sec{
        padding: 0;
        display: flex;
        justify-content: center;
        order: 2;
    }
    .images{
        padding: 0;
        margin: 0;
    }
}