<div class="all">
  <section dir="auto" class="info1">
    <div class="title">
      <h1  >{{'contact_title'|translate}}</h1>
    </div>
  </section>
  <section class="detail">
    <div class="detailInfo">
      <h3>{{'contact_subtitle_get'|translate}}</h3>
      <p>{{'contact_parag'|translate}}
      </p>
    </div>
  </section>
  <section class="container">
    <div dir="auto" class="row">
      <!-- Send message -->
      <div dir="auto" class="contact-form">
        <form action="" id="contact-form">
          <h2>{{'contact_send_message'|translate}}</h2>
          <div class="input-box">
            <input type="text" required="true" name="">
            <span>{{'contact_full_name'|translate}}</span>
          </div>

          <div class="input-box">
            <input type="email" required="true" name="">
            <span>{{'contact_email'|translate}}</span>
          </div>

          <div class="input-box">
            <textarea class="txta" required="true" name=""></textarea>
            <span>{{'contact_type'|translate}}</span>
          </div>

          <div class="input-box">
            <input type="submit" value="{{'contact_send'|translate}}" name="">
          </div>
        </form>
      </div>
      <!-- Direction -->
      <div class="contact-info">
        <div class="contact-info-item">
          <div class="contact-info-icon ci">
            <!-- <i class="fas fa-home"></i> -->
            <i class="pi pi-home"></i>
          </div>

          <div class="contact-info-content">
            <h4>{{'contact_address'|translate}}</h4>
            <p>4671 Sugar Camp Road,<br /> Owatonna, Minnesota, <br />55060</p>
          </div>
        </div>

        <div class="contact-info-item">
          <div class="contact-info-icon ci">
            <!-- <i class="fas fa-phone"></i> -->
            <i class="pi pi-phone"></i>
          </div>

          <div class="contact-info-content">
            <h4>{{'contact_phone'|translate}}</h4>
            <p>571-457-2321</p>
          </div>
        </div>

        <div class="contact-info-item">
          <div class="contact-info-icon ci">
            <!-- <i class="fas fa-envelope"></i> -->
            <i class="pi pi-envelope"></i>
          </div>

          <div class="contact-info-content">
            <h4>{{'contact_email'|translate}}</h4>
            <p>ntamerrwael@mfano.ga</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="line"></div>
</div>