.detail {
  font-family: "Outfit", sans-serif;
  transition:
    background-color 0.3s,
    color 0.3s;
  padding: 0 8.4rem;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.detail {
  background-image: linear-gradient(
    to bottom,
    hsl(0, 0%, 88%) 0%,
    hsl(0, 0%, 88.15%) 14.9%,
    hsl(0, 0%, 88.58%) 27.3%,
    hsl(0, 0%, 89.25%) 37.5%,
    hsl(0, 0%, 90.1%) 45.8%,
    hsl(0, 0%, 91.11%) 52.6%,
    hsl(0, 0%, 92.22%) 58.1%,
    hsl(0, 0%, 93.4%) 62.6%,
    hsl(0, 0%, 94.6%) 66.5%,
    hsl(0, 0%, 95.78%) 70%,
    hsl(0, 0%, 96.89%) 73.4%,
    hsl(0, 0%, 97.9%) 77.1%,
    hsl(0, 0%, 98.75%) 81.2%,
    hsl(0, 0%, 99.42%) 86.3%,
    hsl(0, 0%, 99.85%) 92.4%,
    hsl(0, 0%, 100%) 100%
  );
}
.title h1 {
  font-size: 3rem;
  color: #f9532d;
  margin-block: 2rem;
}

.method {
  background-color: white;
  padding: 0 8.4rem;
  padding-bottom: 2rem;
}

.breadcrumb {
  font-family: "Outfit", sans-serif;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 50px;
}
a:link,
a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

.breadcrumb-item {
  margin-inline: 1rem;
  color: #605e60;
  white-space: nowrap;
  font-size: 16px;
  display: inline-block;
}

.title h1 {
  font-size: 3rem;
  color: #f9532d;
}

ol li {
  font-weight: bold;
}
.method p {
  font-size: 1.15rem;
  line-height: 1.5;
  font-weight: normal;
  text-align: justify;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .detail {
    padding: 0 4.4rem;
  }
  .method {
    padding: 0 4.4rem;
  }
}

@media screen and (max-width: 768px) {
  .detail {
    padding: 0 1.6rem;
  }
  .method {
    padding: 0 1.6rem;
  }
}

@media screen and (max-width: 600px) {
}
