/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

 */
a{
  text-decoration: none;
}

a:link, a:active{
  color: inherit;
}

a:-webkit-any-link{
  color: black;
}

.sidenav-container {
  height: 100%;
  font-family: 'Outfit', sans-serif;
}
  
.sidenav {
  width: 250px;
}

.pi {
  font-size: 16px;
  margin-inline: 5px;
}


.mat-list-item{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.mat-expansion-panel-header{
  padding-inline: 16px !important;
}

/*CSS for SubMenu*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.dropdown .dropbtn a{
  display: inline-flex;
  line-height: 60px;
  align-items: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding-inline: 12px;
  padding-block: 0;
  margin: 0;
  text-decoration: none;
  display: block;
  line-height: 45px;
}

.dropdown-content a:hover {
  color: darkred;
  border-top: 4px solid darkred;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*End CSS for SubMenu*/

.act{
  background: #e0e0e0;
  color: black;
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.content{
  margin-top: 3rem;
}

.n{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  color: black;
  /* height: 60px; */
  padding-inline: 8rem;
}

.dos{
  width: 600px;
  color: black;
  /* height: 2rem; */
  align-content: center;
  font-size: 1rem;
}

.dos > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}

.navb:hover{
  color: darkred;
  border-bottom: 4px solid darkred;
}

.dos > ul > li {
  /* height: 60px; */
  line-height: 60px;
  align-content: center;
  justify-items: center;
}

.dos > ul > li > a{
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.tres{
  display: flex;
  align-items: center;
}

.themeDark{
  color: white;
}

.themeLight{
  color: black;
}

.line{
  border-right: 2px solid ;
  height: 30px;
  margin-left: 10px;
}

.active{
  color: rgb(255, 0, 0);
  border-bottom: 3px solid red;
}

/* language */

.container_lang{
  display: flex;
  direction: row;
  align-items: center;

}

.lang:focus{
  border: transparent;
  outline: 0;
  box-shadow: none;
}

/* end language */

@media screen and (min-width: 1367px) {
  .n{
    padding-inline: 8.4rem;
  }
  .uno img{
    width: 110px;
    height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .n{
    padding-inline: 4.4rem;
  }
}

@media screen and (max-width: 768px) {
  .n{
    padding-inline: 1.6rem;
  }
}

@media screen and (max-width:600px) {
  .n{
    padding-inline: 1.6rem;
  }
}