<mat-sidenav-container class="sidenav-container mat-app-background"  [ngClass]="{'dark_theme-mode': isDarkTheme}">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'over'"
        [opened]="false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list color="primary">
        <a mat-list-item href="/home">Home</a>
        <a mat-list-item href="/about">About Us</a>
        <a mat-list-item href="/universities">Universities</a>
        <a mat-list-item href="/contact">Contact Us</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="n" color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isHandset$ | async) === true" >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div class="uno">
          <a href="">
            <img src="../../assets/images/logo.png" alt="Logo" height="40px" width="100px" style="cursor: hand;">
          </a>
        </div>
        <div class="dos" *ngIf="!(isHandset$ | async)">
          <ul>
            <li><a [routerLink]="['home']" routerLinkActive="active" [ngClass]="isDarkTheme === true ? 'themeDark':'themeLight'" href="/home">Home</a></li>
            <li><a [routerLink]="['about']" [routerLinkActive]="['active']" [ngClass]="isDarkTheme === true ? 'themeDark':'themeLight'" href="/about">About Us</a></li>
            <li><a [routerLink]="['universities']" [routerLinkActive]="['active']" [ngClass]="isDarkTheme === true ? 'themeDark':'themeLight'" href="/universities">Universities</a></li>
            <li><a [routerLink]="['contact']"      [routerLinkActive]="['active']" [ngClass]="isDarkTheme === true ? 'themeDark':'themeLight'" href="/contact">Contact Us</a></li>
          </ul>
        </div>
        <div class="tres">
          <mat-slide-toggle [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()">
            <mat-icon *ngIf="isDarkTheme">bedtime</mat-icon>
            <mat-icon *ngIf="!isDarkTheme">light_mode</mat-icon>
          </mat-slide-toggle>
          <div [ngClass]="isDarkTheme === true ? 'themeDark':'themeLight'" class="line"></div>
          <button
            type="button"
            mat-icon-button>
            <mat-icon aria-label="Change language">language</mat-icon>
          </button>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
      <app-footer *ngIf="!(isHandset$ | async)"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
  