<section dir="auto" class="detailTitle">
    <div class="title">
        <h1>{{'advisory_title' | translate}}</h1>
    </div>
    <div dir="auto" class="breadcrumb">
        <div class="breadcrumb-item">
            <a routerLink="/ranking">{{'methodology_breadcrumb_ranking' | translate}}</a>
        </div>
        <div class="breadcrumb-icon">
            <span>></span>
        </div>
        <div class="breadcrumb-item">
            <a routerLink="/methodology">{{'methodology_breadcrumb_methodology' | translate}}</a>
        </div>
        <div class="breadcrumb-icon">
            <span>></span>
        </div>
        <div class="breadcrumb-item">
            <span>{{'methodology_breadcrumb_advisory' | translate}}</span>
        </div>
    </div>
</section>
<section  class="container">
    <div dir="auto" class="main">
        <div class="detail">
            <div>
                <p>
                    In this section, we introduce the distinguished members of our Committed Advisory, a group of influential leaders with extensive experience in research, innovation, and institutional development. Their outstanding careers and contributions in areas such as data analytics, academic rankings, educational standards, and global university leadership are instrumental in guiding our mission to recognize and promote academic excellence in the Arab world.
                </p>
            </div>
        </div>
        <div class="members">
            <div class="card">
                <div class="image">
                    <svg fill="gray" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.532 45.532" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765 S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53 c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012 c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592 c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"></path> </g> </g></svg>
                </div>
                <div class="">
                    <div class="information">
                        <div class="name">
                            <div>   
                                <h2 style="margin-block:0; ">M’hamed el Aisati &nbsp;</h2>
                            </div>
                            <div class="post">
                                <span>
                                    — Founder
                                </span>
                            </div>
                        </div>
                        <div class="bio">
                            <p>
                                As VP of Analytical & Data Services at Elsevier, M’hamed el Aisati leads a team that looks after content and analytical services, supporting large research performance evaluation programs and rankings. Previously, he was VP of Funding, Content and Analytics. He is based in Amsterdam.
                            </p>
                            <p>
                                M’hamed joined Elsevier in 1998 and contributed to the development of the company’s first digital journals platform, which preceded ScienceDirect. In 2004, he helped launch Scopus. M’hamed was granted a master’s degree in computer sciences from the University of Amsterdam. He has published several papers in peer reviewed journals and holds two patents.
                            </p>
                            <div class="social">
                                <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                                <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                                <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                                <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="vmobile">
                <p>
                    As VP of Analytical & Data Services at Elsevier, M’hamed el Aisati leads a team that looks after content and analytical services, supporting large research performance evaluation programs and rankings. Previously, he was VP of Funding, Content and Analytics. He is based in Amsterdam.
                </p>
                <p>
                    M’hamed joined Elsevier in 1998 and contributed to the development of the company’s first digital journals platform, which preceded ScienceDirect. In 2004, he helped launch Scopus. M’hamed was granted a master’s degree in computer sciences from the University of Amsterdam. He has published several papers in peer reviewed journals and holds two patents.
                </p>
                <div class="social">
                    <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                    <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                    <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                    <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                </div>
            </div>
            <div class="line"></div>
            <div class="card">
                <div class="image">
                    <svg fill="gray" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.532 45.532" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765 S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53 c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012 c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592 c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"></path> </g> </g></svg>
                </div>
                <div class="">
                    <div class="information">
                        <div class="name">
                            <div>   
                                <h2 style="margin-block:0; ">Prof. Habib Fardoun &nbsp;</h2>
                            </div>
                            <div class="post">
                                <span>
                                    — Founder
                                </span>
                            </div>
                        </div>
                        <div class="bio">
                            <p>
                                Dr. Habib Fardoun is the Principal Consultant at QS Ranking, Spain, and is recognized for his ability to enhance the performance and reputation of universities globally. He specializes in elevating academic standards and promoting excellence in research, teaching, reputation, presence, and internationalization. His expertise spans across key areas that influence institutional recognition and global positioning, including strategic analysis, performance benchmarking, and the development of impactful academic and research strategies. This comprehensive approach enables him to strengthen educational institutions and expand their international presence in alignment with global ranking and evaluation frameworks.
                            </p>
                            <p>
                                Previously, Fardoun served as the Director of the Observatory Center for Academic Standards and Excellence at King Abdulaziz University (2012-2022), Saudi Arabia, and has been an Executive Member of the IREG Observatory on Academic Ranking and Excellence since 2016. Dr Fardoun has a PhD and Master’s in Quality Higher Education Development, complemented by a BA in Computer Engineering from Universidad de Castilla-La Mancha.
                            </p>
                            <div class="social">
                                <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                                <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                                <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                                <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="vmobile">
                <p>
                    Dr. Habib Fardoun is the Principal Consultant at QS Ranking, Spain, and is recognized for his ability to enhance the performance and reputation of universities globally. He specializes in elevating academic standards and promoting excellence in research, teaching, reputation, presence, and internationalization. His expertise spans across key areas that influence institutional recognition and global positioning, including strategic analysis, performance benchmarking, and the development of impactful academic and research strategies. This comprehensive approach enables him to strengthen educational institutions and expand their international presence in alignment with global ranking and evaluation frameworks.
                </p>
                <p>
                    Previously, Fardoun served as the Director of the Observatory Center for Academic Standards and Excellence at King Abdulaziz University (2012-2022), Saudi Arabia, and has been an Executive Member of the IREG Observatory on Academic Ranking and Excellence since 2016. Dr Fardoun has a PhD and Master’s in Quality Higher Education Development, complemented by a BA in Computer Engineering from Universidad de Castilla-La Mancha.
                </p>
                <div class="social">
                    <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                    <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                    <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                    <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                </div>
            </div>
            <div class="line"></div>
            <div class="card">
                <div class="image">
                    <svg fill="gray" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.532 45.532" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765 S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53 c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012 c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592 c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"></path> </g> </g></svg>
                </div>
                <div class="">
                    <div class="information">
                        <div class="name">
                            <div>   
                                <h2 style="margin-block:0; ">Prof. Ghassan Aouad &nbsp;</h2>
                            </div>
                            <div class="post">
                                <span>
                                    — Founder
                                </span>
                            </div>
                        </div>
                        <div class="bio">
                            <p>
                                Dr. Ghassan Aouad is the Chancellor of Abu Dhabi University (ADU), with extensive experience in higher education leadership, research, and innovation. Before joining ADU, he served as President of Applied Science University in Bahrain and held leadership roles at University of Wollongong in Dubai (UOWD) and Gulf University for Science and Technology (GUST) in Kuwait.
                            </p>
                            <p>
                                Dr. Aouad earned his PhD in Construction Planning Systems from Loughborough University, UK, and previously served as Pro Vice Chancellor for Research and Innovation and Dean of the College of Science and Technology at University of Salford. He has published extensively, supervised numerous PhD students, secured significant research funding, and delivered keynote speeches globally.
                            </p>
                            <p>
                                He is a Fellow of Advance HE and the Chartered Institute of Building (CIOB) and has contributed to several professional organizations, including serving as President of CIOB. His leadership continues to drive academic excellence and institutional growth at Abu Dhabi University.
                            </p>
                            <div class="social">
                                <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                                <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                                <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                                <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="vmobile">
                <p>
                    Dr. Ghassan Aouad is the Chancellor of Abu Dhabi University (ADU), with extensive experience in higher education leadership, research, and innovation. Before joining ADU, he served as President of Applied Science University in Bahrain and held leadership roles at University of Wollongong in Dubai (UOWD) and Gulf University for Science and Technology (GUST) in Kuwait.
                </p>
                <p>
                    Dr. Aouad earned his PhD in Construction Planning Systems from Loughborough University, UK, and previously served as Pro Vice Chancellor for Research and Innovation and Dean of the College of Science and Technology at University of Salford. He has published extensively, supervised numerous PhD students, secured significant research funding, and delivered keynote speeches globally.
                </p>
                <p>
                    He is a Fellow of Advance HE and the Chartered Institute of Building (CIOB) and has contributed to several professional organizations, including serving as President of CIOB. His leadership continues to drive academic excellence and institutional growth at Abu Dhabi University.
                </p>
                <div class="social">
                    <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                    <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                    <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                    <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                </div>
            </div>
        </div>
    </div>
</section>