<div  class="container">
    <div dir="auto" class="breadcrumb">
        <div class="breadcrumb-item">
            <a routerLink="/ranking">{{'methodology_breadcrumb_ranking' | translate}}</a>
        </div>
        <div class="breadcrumb-icon">
            <span>></span>
        </div>
        <div class="breadcrumb-item">
            <a routerLink="/methodology">{{'methodology_breadcrumb_methodology' | translate}}</a>
        </div>
        <div class="breadcrumb-icon">
            <span>></span>
        </div>
        <div class="breadcrumb-item">
            <span>{{'methodology_breadcrumb_advisory' | translate}}</span>
        </div>
    </div>
    <div dir="auto" class="main">
        <div class="decoration">
            <h2 class="title">{{'advisory_title' | translate}}</h2>
        </div>
        <div class="detail">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget urna vitae mi dignissim elementum quis quis ante. Aliquam pulvinar, ipsum ac eleifend elementum, sapien erat varius sem, a auctor velit magna at neque. Praesent dui lacus, pharetra quis arcu.
                </p>
            </div>
            <div>
                <img src="../../../assets/images/advisory.jpg" alt="">
            </div>
        </div>
        <div class="members">
            <div class="card">
                <div class="image">
                    <svg fill="gray" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.532 45.532" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765 S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53 c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012 c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592 c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"></path> </g> </g></svg>
                </div>
                <div class="">
                    <div class="information">
                        <div class="name">
                            <div>   
                                <h2 style="margin-block:0; ">PhD. Felipe Agudelo &nbsp;</h2>
                            </div>
                            <div class="post">
                                <span>
                                    — Founder
                                </span>
                            </div>
                        </div>
                        <div class="bio">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna et risus commodo pretium. Vestibulum id convallis nisl, ut eleifend nunc. Aenean molestie leo at arcu faucibus, sit amet convallis arcu aliquam. Sed sit amet est commodo massa consequat ornare sed in diam. Phasellus id luctus turpis, quis lobortis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vitae urna massa. Sed eleifend felis turpis, in pretium turpis commodo et. Aliquam facilisis ut nibh eu consectetur. Duis dictum vel felis vitae volutpat. Quisque purus orci, porttitor at ante eu, vulputate tincidunt orci. Duis eu nisi posuere, venenatis mi a, vestibulum diam. Donec ut mauris at quam luctus mollis sit amet eget est. Duis vel diam vel leo imperdiet aliquet ac ut metus.
                            </p>
                            <div class="social">
                                <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                                <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                                <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                                <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="vmobile">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna et risus commodo pretium. Vestibulum id convallis nisl, ut eleifend nunc. Aenean molestie leo at arcu faucibus, sit amet convallis arcu aliquam. Sed sit amet est commodo massa consequat ornare sed in diam. Phasellus id luctus turpis, quis lobortis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vitae urna massa. Sed eleifend felis turpis, in pretium turpis commodo et. Aliquam facilisis ut nibh eu consectetur. Duis dictum vel felis vitae volutpat. Quisque purus orci, porttitor at ante eu, vulputate tincidunt orci. Duis eu nisi posuere, venenatis mi a, vestibulum diam. Donec ut mauris at quam luctus mollis sit amet eget est. Duis vel diam vel leo imperdiet aliquet ac ut metus.
                </p>
                <div class="social">
                    <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                    <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                    <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                    <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                </div>
            </div>
            <div class="line"></div>
            <div class="card">
                <div class="image">
                    <svg fill="gray" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.532 45.532" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765 S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53 c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012 c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592 c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"></path> </g> </g></svg>
                </div>
                <div class="">
                    <div class="information">
                        <div class="name">
                            <div>   
                                <h2 style="margin-block:0; ">PhD. Felipe Agudelo &nbsp;</h2>
                            </div>
                            <div class="post">
                                <span>
                                    — Founder
                                </span>
                            </div>
                        </div>
                        <div class="bio">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna et risus commodo pretium. Vestibulum id convallis nisl, ut eleifend nunc. Aenean molestie leo at arcu faucibus, sit amet convallis arcu aliquam. Sed sit amet est commodo massa consequat ornare sed in diam. Phasellus id luctus turpis, quis lobortis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vitae urna massa. Sed eleifend felis turpis, in pretium turpis commodo et. Aliquam facilisis ut nibh eu consectetur. Duis dictum vel felis vitae volutpat. Quisque purus orci, porttitor at ante eu, vulputate tincidunt orci. Duis eu nisi posuere, venenatis mi a, vestibulum diam. Donec ut mauris at quam luctus mollis sit amet eget est. Duis vel diam vel leo imperdiet aliquet ac ut metus.
                            </p>
                            <div class="social">
                                <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                                <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                                <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                                <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
            <div class="vmobile">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut urna et risus commodo pretium. Vestibulum id convallis nisl, ut eleifend nunc. Aenean molestie leo at arcu faucibus, sit amet convallis arcu aliquam. Sed sit amet est commodo massa consequat ornare sed in diam. Phasellus id luctus turpis, quis lobortis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vitae urna massa. Sed eleifend felis turpis, in pretium turpis commodo et. Aliquam facilisis ut nibh eu consectetur. Duis dictum vel felis vitae volutpat. Quisque purus orci, porttitor at ante eu, vulputate tincidunt orci. Duis eu nisi posuere, venenatis mi a, vestibulum diam. Donec ut mauris at quam luctus mollis sit amet eget est. Duis vel diam vel leo imperdiet aliquet ac ut metus.
                </p>
                <div class="social">
                    <a href="https://co.linkedin.com/" target="_blank" style="--socialAni:1"><i class='pi pi-linkedin'></i></a>
                    <a href="https://instagram.com/" target="_blank" style="--socialAni:2"><i class='pi pi-instagram'></i></a>
                    <a href="https://facebook.com/" target="_blank" style="--socialAni:3"><i class='pi pi-facebook'></i></a>
                    <!-- <a href="#" style="--socialAni:4"><i class='pi ok-circle'></i></a> -->
                </div>
            </div>
        </div>
    </div>
</div>