/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
 */
a{
  text-decoration: none;
}

/*Buscador*/
.searcher{
  display: flex;
  justify-content: center;
  padding-inline: 30px;
  margin-top: 80px;
  background-color: primary;
  padding: 20px;
}

.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}
  
  /*content page*/

  /* Section 1 */

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: default;
  font-family: 'Outfit', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  padding: 0 8.4rem;
}

.img-w {
  width: 100%;
  border-radius: 20%;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
  row-gap: 2rem;
  align-items: center;
}

.main h1 {
  font-size: 4rem;
  font-weight: 600;
}

.main p {
  line-height: 1.5;
  font-size: 1.15rem;
}

.images::before {
  margin-top: 40px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-radius: 20%;
  z-index: -1;

  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
}

.images {
  margin-block: 15%;
  width: 80%;
  margin-left: auto;
  position: relative;
  z-index: -1;
}

/* Section 2 ranking */
.line{
  border-top: 1px solid gray ;
  opacity: .3;;
}

.infoRanking{
  font-family: 'Outfit', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  padding: 0 8.4rem;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(240, 240, 240); */
  align-items: center;
  cursor: default;
}

.title{
  text-align: center;
  width: 100%;
  background: rgb(199,199,199);
  background: linear-gradient(0deg, rgba(199,199,199,1) 7%, rgba(255,255,255,0.7679446778711485) 82%);
  padding-bottom: 30px;
}
.pre{
  font-size: 2rem;
  font-weight: 600;
  color: #f9532d;
}

.title h1 {
  margin-block: 10px;
  font-size: 2rem;
}


/* tabla */

.tableRanking{
  width: 100%;
}

.r p{
  font-size: 1.15rem;
}
/* PAra dar click a la celda */
.mat-mdc-row .mat-mdc-cell {
  /* border-bottom: 1px solid transparent;
  border-top: 1px solid transparent; */
  cursor: default;
}

/* .mat-mdc-row:hover .mat-mdc-cell {
   border-color: currentColor; 
} */

/* .demo-row-is-clicked {
  font-weight: bold;
} */
/*FIn  PAra dar click a la celda */


.demo-table {
  width: 100%;
  margin-top:  20px;
}

.mat-column-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-university {
  padding-left: 16px;
}

.nameu:hover{
  color: #f9532d;
  cursor: pointer;
}

.mat-column-country {
  font-style: italic;
}

.mat-column-score {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
.gold{
  content: url("../../assets/images/medals/gold.png");
  height: 2rem;
  width: 2rem;
}
.plate{
  /* background-color: #d7d7d7; */
  content: url("../../assets/images/medals/plate.png");
  height: 2rem;
  width: 2rem;
}

.bronze{
  content: url("../../assets/images/medals/bronze.png");
  height: 2rem;
  width: 2rem;
}

.number{
  display: none;
}

/* view more ranking*/
.moreRanking{
  font-size: 1.3rem;
  width: 100%;
  margin-block: 20px;
  text-align: end;
}

.moreRanking a{
  color: black;
}
.moreRanking a:hover{
  color: #f9532d;
}

/* Section for news */
.news{
  font-family: 'Outfit', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  padding: 0 8.4rem;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}
.card {
  width: 100%;
  /* background: var(--surface-card); */
  /* padding: 2rem; */
  border-radius: 10px;
  /* margin-bottom: 30px; */
}
:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: 1px solid var(--surface-d);
          border-radius: 3px;
          margin: 1rem;
          text-align: center;
          transition: all 600ms ease;
          cursor: pointer;
          /* padding: 2rem 0; */
      }
  
      .product-image {
          width: 100%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
  }
  .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: #f9532d;
  }
    
}

.product-item-content p{
  line-height: 1.5;
  padding-inline: 30px;
  font-size: .9rem;
}

.product-item-content:hover{
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  /* transform: translateY(-3%); */
}

.product-item-content p:hover{
  color: rgb(247, 133, 133);
}

.product-item-content a{
  display: inline-block;
  padding: 10px;
  margin-block: 15px;
  border: 1px solid burlywood;
  border-radius: 4px;
  transition: all 600ms ease;
  color: black;
}

.product-item-content a:hover{
  background-color: #CD7F32;
  color: white;
}


@media screen and (max-width: 1024px) {
  .container {
    padding: 0 4.4rem;
  }
  .infoRanking{
    padding: 0 4.4rem;
  }
  .news{
    padding: 0 4.4rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 0 1.6rem;
  }
  .infoRanking{
    padding: 0 1.6rem;
  }
  .news{
    padding: 0 1.6rem;
  }
}

@media screen and (max-width:600px) {
  .images {
      width: 100%;
      margin: auto;
  }
  .main {
      margin-top: 2rem;
  }
}

/* to top arrow*/